.idea/*
classes/*
target/*
*.log
.idea.zzz/artifacts/IBRelight_jar.xml
.idea.zzz/codeStyles/codeStyleConfig.xml
.idea.zzz/compiler.xml
.idea.zzz/inspectionProfiles/profiles_settings.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_all_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_cdense_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_core_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_ddense_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_dsparse_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_fdense_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_simple_0_31.xml
.idea.zzz/libraries/Maven__org_ejml_ejml_zdense_0_31.xml
.idea.zzz/libraries/Maven__org_lwjgl_lwjgl_3_0_0b.xml
.idea.zzz/libraries/Maven__org_lwjgl_lwjgl_platform_natives_osx_3_0_0b.xml
.idea.zzz/libraries/Maven__org_lwjgl_lwjgl_platform_natives_windows_3_0_0b.xml
.idea.zzz/misc.xml
.idea.zzz/modules.xml
.idea.zzz/vcs.xml
.idea.zzz/workspace.xml
IBRelight.iml
