.wireframeCaption {
    -fx-font-style: normal;
    -fx-font-size: 12px;
}

.wireframeBody {
    -fx-font-style: normal;
    -fx-font-size: 14px;
}

.wireframeBodyStrong {
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.wireframeBodyLarge {
    -fx-font-style: normal;
    -fx-font-size: 18px;
}

.wireframeSubtitle {
    -fx-font-style: normal;
    -fx-font-size: 20px;
}

.wireframeTitle {
    -fx-font-style: normal;
    -fx-font-size: 28px;
}

.wireframeTitleLarge {
    -fx-font-style: normal;
    -fx-font-size: 40px;
}

.wireframeDisplay {
    -fx-font-style: normal;
    -fx-font-size: 68px;
}

.kintsugi-3D-1{
    -fx-fill: #FFE790; /* light yellow */
}
.kintsugi-3D-2{
    -fx-fill: #EFCB5C; /* kintsugi yellow */
}
.kintsugi-3D-3{
    -fx-fill: #383838; /* med gray */
}
.kintsugi-3D-4{
    -fx-fill: #202020; /* dark gray */
}
.kintsugi-3D-5{
    -fx-fill: #030305; /* off-black.*/
}

.kintsugi-3D-Wireframe-0{
    -fx-fill: #EEEEEE; /* near-white */
}
.kintsugi-3D-Wireframe-1{
    -fx-fill: #CECECE; /* off-white */
}
.kintsugi-3D-Wireframe-2{
    -fx-fill: #ADADAD; /* light gray */
}
.kintsugi-3D-Wireframe-3{
    -fx-fill: #383838; /* med gray */
}
.kintsugi-3D-Wireframe-4{
    -fx-fill: #202020; /* dark gray */
}
.kintsugi-3D-Wireframe-5{
    -fx-fill: #030303; /* off-black */
}

/********************************************************************************/

.modal-root,
.content-root,
.scroll-pane .viewport,
.cameraviewlist,
.context-menu,
.mainwindow-root,
.tab-pane .tab-header-area .tab-header-background,
.tool-bar{
    -fx-background-color: #202020;
}

.button,
.toggle-button,
.color-picker .color-picker-label,
.card-background .label,
.split-menu-button .label,
.titled-pane > .title{
    -fx-text-fill: #202020;
}

.button, .toggle-button,
.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.check-box .box,
.combo-box,
.color-picker,
.thumb,
.titled-pane > .title,
.split-menu-button > * {
    -fx-background-color: #CECECE;
}

.button:hover,
.toggle-button:hover,
.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover,
.check-box:hover .box,
.combo-box:hover,
.color-picker:hover,
.thumb:hover,
.titled-pane > .title:hover,
.split-menu-button:hover > * {
    -fx-background-color: #EEEEEE;
}

.button:pressed,
.toggle-button:pressed,
.scroll-bar .increment-button:pressed,
.scroll-bar .decrement-button:pressed,
.check-box:pressed .box,
.combo-box:pressed,
.color-picker:pressed,
.thumb:pressed,
.titled-pane > .title:pressed,
.split-menu-button:pressed > * {
    -fx-background-color: #ADADAD;
}

.toggle-button:selected,
.check-box:selected .box,
.titled-pane > .title:selected {
    -fx-background-color: #EEEEEE;
    -fx-font-weight:bold;
 }

.check-box,
.label,
.list-view,
.list-cell,
.table-view .cell,
.table-row-cell,
.menu .label,
.tab,
.tab .tab-label,
.stripped-radio-button,
.text-field
{
    -fx-text-fill: #CECECE;
}

.content-root{
    -fx-padding: 48 24 52 24; /* top right bottom left */
}

.accordion .content-root {
    -fx-padding: 24 24 16 24; /* top right bottom left */
}

.sidebar-root{
    -fx-background-color: #383838;
}

.accordion .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.titled-pane .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.button, .toggle-button {
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16; /* top right bottom left */
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-insets: 0;
    -fx-border-color: #CECECE;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover
{
    -fx-border-color: #EEEEEE;
}

.scroll-bar .increment-button:pressed,
.scroll-bar .decrement-button:pressed
{
    -fx-border-color: #ADADAD;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color: #202020;
    -fx-border-color: #202020;
}

.toggleButtonLarge {
    -fx-padding: 16 16 16 16; /* top right bottom left */
}

.cache-settings-root{
      -fx-background-color: #383838;
 }

.cameraviewlist{
    -fx-border-color: #202020;
}

.check-box .box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.combo-box, .color-picker {
    -fx-background-radius: 0;
}

.color-picker{
    -fx-border-width: 0;
}

.choice-box{
    -fx-background-color:#202020;
}

.track {
    -fx-background-color: #383838;
}

.axis {
    -fx-tick-label-fill: #CECECE;
}

.list-view,
.table-view,
.table-view .column-header,
.table-view .column-header-background .filler
{
    -fx-background-color: #202020;
}

.list-cell:even,
.table-row-cell:even,
.tree-cell:even {
    -fx-background-color: #383838;
}

.list-cell:odd,
.table-row-cell: odd,
.tree-cell:odd {
    -fx-background-color: #202020;
}

.list-cell:selected,
.table-view .cell:selected,
.table-row-cell:selected,
.table-row-cell:selected .cell,
.tree-cell:selected {
    -fx-background-color:#EEEEEE;
    -fx-text-fill: #383838;
}

.list-view:focused{
    -fx-background-insets: 0;
}

.menu{
    -fx-background-color: #383838;
    -fx-background-radius: 0 0 0 0;
}

.menu:hover{
    -fx-background-color: #EEEEEE;
}

.menu:hover .label{
    -fx-text-fill: #383838;
}

.menu-bar{
    -fx-background-color: #383838;
}

.menu-item{
    -fx-background-color: #202020;
}

.menu-item .label{
    -fx-text-fill: #CECECE !important;
}

.menu-item:hover{
    -fx-background-color: #EEEEEE;
}

.menu-item:hover .label{
    -fx-text-fill: #383838 !important;
}

.progress-bar{
    -fx-accent: #D4AA00; /*color of completed portion (Kintsugi yellow)*/
}

.progress-bar .track{
    -fx-background-color: #CECECE; /*color of incomplete portion*/
}

.desaturated-progress-bar{
    -fx-accent: #383838; /*color of completed portion*/
}

.separator:vertical .line {
    -fx-border-color: #CECECE;
    -fx-border-width: 0 1 0 0;
}

.split-menu-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.split-menu-button * {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}

.split-menu-button .arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #202020;
}

.split-menu-button .arrow {
    -fx-background-color: #202020;
}

.slider .thumb .thumb-label .label{
    -fx-text-fill:#FF0000;
}

.tab{
    -fx-background-color: #202020;
    -fx-background-radius: 0;
    -fx-padding: 8 16 8 16; /* top right bottom left */
    -fx-effect: none;
}

.tab-pane {
    -fx-focus-color: transparent;        /* removes blue focus line */
    -fx-faint-focus-color: transparent;  /* removes faint glow when not fully focused */
}

.tab:selected{
    -fx-background-color: #383838;
}

.tab:selected .tab-label{
    -fx-text-fill: #EEEEEE;
}

.tab:hover{
    -fx-background-color: #EEEEEE;
}

.tab:hover .tab-label{
    -fx-text-fill: #383838;
}

.list-cell:selected{
    -fx-background-color:#EEEEEE;
    -fx-text-fill: #383838;
}

.list-view{
    -fx-background-radius:0;
    -fx-background-insets:0;
    -fx-border-width:0;
    -fx-border-color: transparent;
    -fx-border-radius:0;
}

.list-view:focused{
    -fx-background-insets: 0;
}

.table-view{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-table-cell-border-color: #CECECE;
}

.table-row-cell:focused {
    -fx-border-color: transparent;
}

.table-view .cell:focused {
    -fx-border-color: transparent;
}

.cell:empty:focused {
    -fx-background-insets: 0;
}

.text-field{
    -fx-background-color: #383838;
    -fx-background-radius: 0;
}

.titled-pane > .title{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.titled-pane > .title:selected {
    -fx-font-weight:bold;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #202020;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.tool-bar .button{
    -fx-background-radius: 0;
}

.tooltip {
    -fx-show-duration: indefinite; /* tooltips don't disappear until the user's mouse leaves the node*/
}

/*Tree cell styling stolen from stack overflow --> https://stackoverflow.com/questions/30684308/javafx-treeview-css */
.tree-view, .tree-cell {
    -fx-text-fill: white ;
}

.tree-cell:empty{
    -fx-background-color: #202020;
}

.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #383838 ;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}

.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: none;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: none;
}

/* Card Component */
.card-background {
    -fx-background-color: #ADADAD
}

.card-background:hover {
    -fx-background-color: #CECECE
}

.card-button {
    -fx-background-color: #383838;
    -fx-text-fill: #CECECE;
    -fx-background-radius: 0;
    -fx-min-width: 184;
    -fx-pref-width: 330;
    -fx-min-height: 32;
}

.card-button:hover,
.card-button:pressed {
    -fx-text-fill: #383838;
}

.card-separator .line {
    -fx-background-color: #383838;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}

.black-line .line {
    -fx-background-color: #080808;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}

.stripped-radio-button > .radio {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0px;
  -fx-padding: 0.0em; /* 4 8 4 8 */

  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
}
.stripped-radio-button:selected > .radio > .dot {
  -fx-background-color: transparent;
}

.stripped-radio-button {
  -fx-background-color: #202020
}

.stripped-radio-button:selected {
  -fx-background-color: #383838
}

/* Styling for the scroll bar in left pane */
.left-bar > scroll-pane {
    -fx-background-color: #202020;
}

.left-bar .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.left-bar .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.left-bar .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}