/*Note: line height is not supported as a native JavaFX CSS feature.*/

.wireframeCaption {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 12px;
}

.wireframeBody {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 14px;
}

.wireframeBodyStrong {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-font-size: 12px;
}

.wireframeBodyLarge {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
}

.wireframeSubtitle {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 20px;
}

.wireframeTitle {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 28px;
}

.wireframeTitleLarge {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-font-size: 40px;
}

.wireframeDisplay {
    -fx-font-family: 'Segoe UI';
    -fx-font-style: normal;
    -fx-font-weight:600;
    -fx-font-size: 68px;
}

.kintsugi-3D-1{
    -fx-fill: #FFE790; /* light yellow */
}
.kintsugi-3D-2{
    -fx-fill: #EFCB5C; /* kintsugi yellow */
}
.kintsugi-3D-3{
    -fx-fill: #383838; /* med gray */
}
.kintsugi-3D-4{
    -fx-fill: #202020; /* dark gray */
}
.kintsugi-3D-5{
    -fx-fill: #030305; /* off-black.*/
}

.kintsugi-3D-Wireframe-0{
    -fx-fill: #EEEEEE; /* near-white */
}
.kintsugi-3D-Wireframe-1{
    -fx-fill: #CECECE; /* off-white */
}
.kintsugi-3D-Wireframe-2{
    -fx-fill: #ADADAD; /* light gray */
}
.kintsugi-3D-Wireframe-3{
    -fx-fill: #383838; /* med gray */
}
.kintsugi-3D-Wireframe-4{
    -fx-fill: #202020; /* dark gray */
}
.kintsugi-3D-Wireframe-5{
    -fx-fill: #030303; /* off-black */
}

/********************************************************************************/

.content-root{
    -fx-background-color: #202020;
    -fx-padding: 48 24 52 24; /* top right bottom left */
}

.accordion .content-root {
    -fx-padding: 24 24 16 24; /* top right bottom left */
}

.modal-root{
    -fx-background-color: #202020;
}

.sidebar-root{
    -fx-background-color: #383838;
}

.accordion .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: #383838;
}

.button, .toggle-button {
    -fx-background-radius: 0;
    -fx-background-color: #CECECE;
    -fx-text-fill: #202020;
    -fx-padding: 8 16 8 16; /* top right bottom left */
}

.toggleButtonLarge {
    -fx-padding: 16 16 16 16; /* top right bottom left */
}

.button:hover{
    -fx-background-color: #EEEEEE;
}

.button:pressed {
    -fx-background-color: #ADADAD;
    -fx-text-fill: #202020;
}

.button:selected{
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #202020;
    -fx-font-weight:bold;
 }

.toggle-button:hover{
    -fx-background-color: #EEEEEE;
}

.toggle-button:pressed {
    -fx-background-color: #ADADAD;
    -fx-text-fill: #202020;
}

.toggle-button:selected{
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #202020;
    -fx-font-weight:bold;
}

.cache-settings-root{
      -fx-background-color: #383838;
 }

.cameraviewlist{
    -fx-background-color: #202020;
    -fx-border-color: #202020;
}

.context-menu {
    -fx-background-color: #202020;
}

.check-box{
    -fx-text-fill: #CECECE;
}

.color-picker{
    -fx-background-color: #383838;
    -fx-border-color: #383838;
}

.choice-box{
    -fx-background-color:#222230;
}

.grayscalebuttons{
    -fx-background-radius: 0 0 0 0;
 }

.label{
    -fx-text-fill: #CECECE;
}

.card-background .label {
    -fx-text-fill: #202020;
}

.slider .axis {
    -fx-tick-label-fill: #CECECE;
}

.specularfitcheckbox{
       -fx-background-color: #383838;
 }

.list-view{
    -fx-background-color: #202020;
    -fx-text-fill: #CECECE;
}

.list-cell:even {
    -fx-background-color: #383838;
    -fx-text-fill: #CECECE;
}

.list-cell:odd {
    -fx-background-color: #202020;
    -fx-text-fill: #CECECE;
}

.list-cell:selected{
    -fx-background-color:#EEEEEE;
    -fx-text-fill: #202020;
}

.menu{
    -fx-background-color: #383838;
    -fx-background-radius: 0 0 0 0;
}

.menu .label{
    -fx-text-fill: #CECECE
}

.menu:hover{
    -fx-background-color: #EEEEEE;
}

.menu:hover .label{
    -fx-text-fill: #383838;
}

.menu-bar{
    -fx-background-color: #383838;
}

.menu-item{
    -fx-background-color: #202020;
}

.menu-item .label{
    -fx-text-fill: #CECECE !important;
}

.menu-item:hover{
    -fx-background-color: #EEEEEE;
}

.menu-item:hover .label{
    -fx-text-fill: #383838 !important;
}

.mainwindow-root{
     -fx-background-color: #202020;
 }

.progress-bar{
    -fx-accent: #D4AA00; /*color of completed portion (Kintsugi yellow)*/
}

.progress-bar .track{
    -fx-background-color: #CECECE; /*color of incomplete portion*/
}

.desaturated-progress-bar{
    -fx-accent: #383838; /*color of completed portion*/
}

.split-menu-button {
    -fx-background-color: #CECECE;
    -fx-background-radius: 0;
}

.split-menu-button .label {
    -fx-text-fill: #202020;
}

.split-button:hover{
    -fx-background-color: #EEEEEE;
}

.split-menu-button:hover{
    -fx-background-color: #EEEEEE;
}

.slider .thumb .thumb-label .label{
    -fx-text-fill:#FF0000;
}

.tab{
    -fx-background-color: #383838;
}
.tab:selected{
    -fx-background-color: #EEEEEE;
    -fx-font-weight:bold;
}

.tab:hover{
 /*   -fx-background-color: #222255;*/
    -fx-background-color: #EEEEEE;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #202020;
}

.table-row-cell:even{
    -fx-background-color: #383838; /* Even cell background color */
}

.table-row-cell: odd{
    -fx-background-color: #202020; /* Odd cell background color */
}

.table-view .column-header{
    -fx-background-color:#222230;
}

.table-view .column-header-background .filler { /*top right corner of table view*/
    -fx-background-color:#222230;
}

.table-view{
    -fx-background-color: #222230;
}

.text-field{
    -fx-background-color: #383838;
    -fx-text-fill: #CECECE;
}

.titled-pane > .title{ /*only applies to the dropdown bar, not the text or content within*/
    -fx-background-color:#383838;
}

.titled-pane > .title > *.text{
    -fx-fill: #CECECE;
}

.tool-bar{
    -fx-background-color: #202020;
}

.tool-bar .button{
    -fx-background-radius: 0;
}

.tooltip {
    -fx-show-duration: indefinite; /* tooltips don't disappear until the user's mouse leaves the node*/
}

/*Tree cell styling stolen from stack overflow --> https://stackoverflow.com/questions/30684308/javafx-treeview-css */
.tree-view, .tree-cell {
    -fx-text-fill: white ;
}

.tree-cell:even {
    -fx-background-color: #383838;
}

.tree-cell:odd {
    -fx-background-color: #202020;
}

.tree-cell:empty{
    -fx-background-color: #202020;
}

.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #404040 ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: none;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: none;
}

/* Card Component */
.card-background {
    -fx-background-color: #ADADAD
}

.card-background:hover {
    -fx-background-color: #CECECE
}

.card-button {
    -fx-background-color: #383838;
    -fx-background-radius: 0;
    -fx-min-width: 184;
    -fx-pref-width: 330;
    -fx-min-height: 32;
}

.card-separator .line {
    -fx-background-color: #383838;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}

.black-line .line {
    -fx-background-color: #080808;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}

.stripped-radio-button > .radio {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0px;
  -fx-padding: 0.0em; /* 4 8 4 8 */

  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
}
.stripped-radio-button:selected > .radio > .dot {
  -fx-background-color: transparent;
}

.stripped-radio-button {
  -fx-background-color: #202020
}

.stripped-radio-button:selected {
  -fx-background-color: #383838
}

/* Styling for the scroll bar in left pane */
.left-bar > scroll-pane {
    -fx-background-color: #202020;
}

.left-bar .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.left-bar .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.left-bar .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.left-bar .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}