<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019-2023 Seth Berrier, Michael Tetzlaff, Jacob Buelow, Luke Denney
  ~ Copyright (c) 2019 The Regents of the University of Minnesota
  ~
  ~ Licensed under GPLv3
  ~ ( http://www.gnu.org/licenses/gpl-3.0.html )
  ~
  ~ This code is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~ This code is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
  ~
  -->

<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="fileLogger">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <FileName>${sys:Kintsugi3D.logDir:-.}/Kintsugi3DBuilder.log</FileName>
            <FilePattern>${sys:Kintsugi3D.logDir:-.}/Kintsugi3DBuilder-%d{yyyy-MM-dd}.log</FilePattern>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
        <RecentLogMessageAppender name="guiConsole">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </RecentLogMessageAppender>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="guiConsole" />
        </Root>
    </Loggers>
</Configuration>