@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
   	@font-face{
   		font-family:'Nitti iA HD';
   		src:url('https://ia.net/assets/css/fonts/79e13e-RegularHD-R141126.woff?version=141126') format('woff');
   		font-weight:normal;
   		font-style:normal; }
   		
  	@font-face{
  		font-family:'Nitti iA HD';
  		src:url('https://ia.net/assets/css/fonts/79e13e-ItalicHD-R141126.woff?version=141126') format('woff');
  		font-weight:normal;font-style:italic; }
  		
  	@font-face{
  		font-family:'Nitti iA SC HD';
  		src:url('https://ia.net/assets/css/fonts/79e13e-SC-RegularHD-R141126.woff?version=141126') format('woff');
  		font-weight:normal;font-style:normal; }
}

@media screen and (-webkit-max-device-pixel-ratio: 1),
screen and (max-resolution: 96dpi), screen and (max-resolution: 1dppx) {
	@font-face{
		font-family:'Nitti iA';
		src:url('https://ia.net/assets/css/fonts/79e13e-Regular-R141126-web.eot?version=141126');
		src:url('https://ia.net/assets/css/fonts/79e13e-Regular-R141126-web.eot?#iefix&version=141126') format('embedded-opentype'),url('https://ia.net/assets/css/fonts/79e13e-Regular-R141126-web.woff?version=141126') format('woff'),url('https://ia.net/assets/css/fonts/79e13e-Regular-R141126-web.ttf?version=141126') format('truetype');
		font-weight:normal;
		font-style:normal; }
	@font-face{
		font-family:'Nitti iA';
		src:url('https://ia.net/assets/css/fonts/79e13e-Italic-R141126-web.eot?version=141126');
		src:url('https://ia.net/assets/css/fonts/79e13e-Italic-R141126-web.eot?#iefix&version=141126') format('embedded-opentype'),url('https://ia.net/assets/css/fonts/79e13e-Italic-R141126-web.woff?version=141126') format('woff'),url('https://ia.net/assets/css/fonts/79e13e-Italic-R141126-web.ttf?version=141126') format('truetype');
		font-weight:normal;
		font-style:italic; }
	@font-face{
		font-family:'Nitti iA SC';
		src:url('https://ia.net/assets/css/fonts/79e13e-SC-Regular-R141126-web.eot?version=141126');
		src:url('https://ia.net/assets/css/fonts/79e13e-SC-Regular-R141126-web.eot?#iefix&version=141126') format('embedded-opentype'),url('https://ia.net/assets/css/fonts/79e13e-SC-Regular-R141126-web.woff?version=141126') format('woff'),url('https://ia.net/assets/css/fonts/79e13e-SC-Regular-R141126-web.ttf?version=141126') format('truetype');
		font-weight:normal;
		font-style:normal; }
}

@font-face{
	font-family:'Nitti iA';
	src:url('https://ia.net/assets/css/fonts/79e13e-Bold-R141126-web.eot?version=141126');
	src:url('https://ia.net/assets/css/fonts/79e13e-Bold-R141126-web.eot?#iefix&version=141126') format('embedded-opentype'),url('https://ia.net/assets/css/fonts/79e13e-Bold-R141126-web.woff?version=141126') format('woff'),url('https://ia.net/assets/css/fonts/79e13e-Bold-R141126-web.ttf?version=141126') format('truetype');
	font-weight:bold;
	font-style:normal; }
@font-face{
font-family:'Nitti iA SC';
	src:url('https://ia.net/assets/css/fonts/79e13e-SC-Bold-R141126-web.eot?version=141126');
	src:url('https://ia.net/assets/css/fonts/79e13e-SC-Bold-R141126-web.eot?#iefix&version=141126') format('embedded-opentype'),url('https://ia.net/assets/css/fonts/79e13e-SC-Bold-R141126-web.woff?version=141126') format('woff'),url('https://ia.net/assets/css/fonts/79e13e-SC-Bold-R141126-web.ttf?version=141126') format('truetype');
	font-weight:bold;
	font-style:normal; }
@font-face{
	font-family:'Nitti iA';
	src:url('https://ia.net/assets/css/fonts/79e13e-BoldItalic-R141126-web.eot?version=141126');
	src:url('https://ia.net/assets/css/fonts/79e13e-BoldItalic-R141126-web.eot?#iefix&version=141126') format('embedded-opentype'),url('https://ia.net/assets/css/fonts/79e13e-BoldItalic-R141126-web.woff?version=141126') format('woff'),url('https://ia.net/assets/css/fonts/79e13e-BoldItalic-R141126-web.ttf?version=141126') format('truetype');
	font-weight:bold;
	font-style:italic; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    height: 100%
}

body {
    font-family: "Menlo", "Lucida Sans Typewriter", "Lucida Console", Consolas, mono-space;
    background-color: #fcfcfc;
    color: #222
}

.fonts-loaded body {
    font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3125rem;
    line-height: 1.42
}

@media screen and (min-width: 1490px) {
    .fonts-loaded body {
        font-size: 1.4375rem
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .retina-fonts-loaded body {
        font-family: "Nitti iA HD", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote, time {
    font-size: 1.06rem;
    line-height: 1.75;
    letter-spacing: -0.033rem;
    word-spacing: -0.033rem
}

@media screen and (max-width: 480px) {
    h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote, time {
        font-size: 0.9rem
    }
}

@media screen and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote, time {
        font-size: 0.9rem
    }
}

@media screen and (min-width: 1490px) {
    h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote, time {
        font-size: 1.15rem
    }
}

.fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4,
.fonts-loaded h5, .fonts-loaded h6, .fonts-loaded p, .fonts-loaded ul,
.fonts-loaded ol, .fonts-loaded li, .fonts-loaded a, .fonts-loaded span,
.fonts-loaded blockquote, .fonts-loaded time {
    font-size: 1.3125rem;
    letter-spacing: normal;
    line-height: inherit;
    word-spacing: normal
}

@media screen and (max-width: 480px) {
    .fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4,
    .fonts-loaded h5, .fonts-loaded h6, .fonts-loaded p, .fonts-loaded ul,
    .fonts-loaded ol, .fonts-loaded li, .fonts-loaded a, .fonts-loaded span,
    .fonts-loaded blockquote, .fonts-loaded time {
        font-size: 1.25rem
    }
}

@media screen and (max-width: 768px) {
    .fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4,
    .fonts-loaded h5, .fonts-loaded h6, .fonts-loaded p, .fonts-loaded ul,
    .fonts-loaded ol, .fonts-loaded li, .fonts-loaded a, .fonts-loaded span,
    .fonts-loaded blockquote, .fonts-loaded time {
        font-size: 1.25rem
    }
}

@media screen and (min-width: 1490px) {
    .fonts-loaded h1, .fonts-loaded h2, .fonts-loaded h3, .fonts-loaded h4,
    .fonts-loaded h5, .fonts-loaded h6, .fonts-loaded p, .fonts-loaded ul,
    .fonts-loaded ol, .fonts-loaded li, .fonts-loaded a, .fonts-loaded span,
    .fonts-loaded blockquote, .fonts-loaded time {
        font-size: 1.4375rem
    }
}

img {
    max-width: 100%
}

table {
    width: 100%
}

img.support-image {
    border: 1px solid rgba(0, 0, 0, 0.2)
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 1.42rem
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    h1 {
        font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

h2, h3, h4, h5 {
    margin: 1.42rem 0 0
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    h2, h3, h4, h5 {
        font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

h2 {
    text-align: center;
    margin: 1.42rem 0
}

p {
    margin: 0 0 1.6725rem
}

.fonts-loaded p {
    margin: 0 0 1.42rem
}

small {
    line-height: 1em
}

a {
    background-image: linear-gradient(to bottom, #222 75%, #222 75%);
    text-shadow: -1px -1px 0 #fcfcfc, 1px -1px 0 #fcfcfc, -1px 1px 0 #fcfcfc, 1px 1px 0 #fcfcfc;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 99.9%;
    color: #222;
    text-decoration: none
}

a.active {
    background-clip: border-box;
    background: #222 !important;
    text-decoration: none;
    border-radius: 0;
    text-shadow: none;
    padding: 1px;
    margin: -1px;
    color: #fff
}

a.enlarge {
    background-image: none
}

.fonts-loaded a {
    background-position: 0 94%
}

code, kbd, samp {
    padding: 0 0.355rem
}

pre {
    margin: 1.42rem 0;
    padding: 0.71rem 1.42rem;
    word-wrap: break-word;
    white-space: pre-wrap
}

pre code {
    padding-left: 0;
    padding-right: 0
}

code, kbd, pre, samp {
    font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    code, kbd, pre, samp {
        font-family: "Nitti iA HD", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

ol, ul {
    padding: 0
}

ol ul, ul ul {
    list-style: none;
    padding: 0
}

ol ul > li:before, ul ul > li:before {
    content: "–";
    position: relative;
    left: 0.71em
}

ol ul > li, ul ul > li {
    text-indent: 0.71em
}

ol ol, ol ul, ul ol, ul ul {
    margin: 1.42rem 0;
    text-indent: 0
}

@media only screen and (max-width: 480px) {
    ol, ul {
        margin-left: 1.42em
    }
}

figure {
    margin: 0 0 1.42rem;
    text-align: center
}

figure img {
    margin: 0 auto
}

figure figure a:after {
    display: none
}

figure figcaption {
    text-align: left;
    font-style: italic
}

figure.right img, figure.left img {
    margin-top: 0.355rem
}

figure.left + .left {
    padding-left: 1.42rem;
    padding-right: 0
}

figure.right {
    float: right;
    width: 50%;
    padding-left: 1.42rem
}

figure.left {
    float: left;
    width: 50%;
    padding-right: 1.42rem
}

figure.bled, figure.bleed {
    margin: 1.42rem -2.84rem
}

@media only screen and (max-width: 480px) {
    figure.right, figure.left {
        float: none;
        width: 100%;
        padding: 0
    }

    figure.right.left + .left, figure.left.left + .left {
        padding: 0
    }
}

blockquote {
    border: none;
    margin: 1.42rem 0 1.42rem 2.84rem
}

@media screen and (max-width: 479px) {
    blockquote {
        margin-left: 1.42rem
    }
}

.fonts-loaded blockquote {
    font-size: 1.125rem
}

.fonts-loaded blockquote p, .fonts-loaded blockquote a {
    font-size: inherit
}

@media screen and (max-width: 768px) {
    .fonts-loaded blockquote {
        font-size: 1.0625rem
    }
}

@media screen and (min-width: 1490px) {
    .fonts-loaded blockquote {
        font-size: 1.25rem
    }
}

blockquote + div {
    margin: -1.42rem auto 1.42rem auto;
    font-style: italic;
    max-width: 80%
}

blockquote + div:before {
    content: '– '
}

hr {
    display: inline-block;
    margin: 1.136rem 0 0;
    border: none;
    width: 100%;
    color: #222
}

hr:after {
    display: inline-block;
    letter-spacing: 0.25rem;
    text-align: center;
    content: '***';
    width: 100%
}

table {
    margin: 0 0 1.42rem;
    font-size: 1.125rem
}

@media screen and (max-width: 768px) {
    table {
        font-size: 1.0625rem
    }
}

@media screen and (min-width: 1490px) {
    table {
        font-size: 1.25rem
    }
}

table tr {
    border-bottom: 1px solid #222
}

table td, table th {
    vertical-align: top;
    padding: 0 1.42rem
}

table td:first-child, table th:first-child {
    padding-left: 0
}

table td:last-child, table th:last-child {
    padding-right: 0
}

.fonts-loaded table a {
    font-size: 1.125rem
}

@media screen and (max-width: 768px) {
    .fonts-loaded table a {
        font-size: 1.0625rem
    }
}

@media screen and (min-width: 1490px) {
    .fonts-loaded table a {
        font-size: 1.25rem
    }
}

footer {
    font-family: "Menlo", "Lucida Sans Typewriter", "Lucida Console", Consolas, mono-space;
    text-transform: uppercase
}

footer a.active {
    font-weight: normal;
    text-decoration: none
}

.fonts-loaded footer {
    font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .retina-fonts-loaded footer {
        font-family: "Nitti iA SC HD", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.fonts-loaded a[href * ="//"]:not([href * ="ia."]):after {
    content: "⇗";
    background: #fcfcfc;
    padding-left: 2px
}

.fonts-loaded .item-list a[href * ="//"]:not([href * ="ia."]):after {
    margin-left: -5px
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .fonts-loaded strong {
        font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.cols {
    margin-left: -24px;
    width: 100%
}

.cols:after {
    content: "";
    display: table;
    clear: both
}

.cols .col {
    padding-left: 24px;
    float: left;
    min-height: 1px;
    width: 100%
}

.cols .col:last-child:after {
    content: "";
    display: table;
    clear: left
}

@media only screen and (max-width: 480px) {
    .cols {
        margin: 0
    }

    .cols .col {
        padding: 0
    }
}

.site-wrapper {
    padding: 0 2.84rem;
    max-width: 820px;
    margin: 0 auto
}

@media only print {
    .site-wrapper {
        font-size: 0.875rem;
        line-height: 1.4;
        margin-left: 15%;
        margin-right: 10%
    }
}

@media only screen and (max-width: 480px) {
    .site-wrapper {
        font-size: 1.125rem;
        padding: 0 0.71rem
    }
}

@media only screen and (max-width: 768px) {
    .site-wrapper {
        font-size: 1.125rem;
        line-height: 1.35
    }
}

@media only screen and (min-width: 1489px) {
    .site-wrapper {
        font-size: 1.4375rem;
        max-width: 893px
    }
}

.writer-features .cols {
    margin-bottom: 1.5em;
    margin-top: 1.5em
}

.writer-features .cols h3 {
    margin-top: 0
}

.writer-features .cols h3 span.pro {
    color: #1EBFEA
}

.writer-features .cols h3 span.pro:before {
    content: "*"
}

.writer-features .cols h3 span.pro:after {
    content: "*"
}

.writer-features .cols .col {
    width: 66.66667%
}

@media only screen and (max-width: 480px) {
    .writer-features .cols .col {
        width: 100%
    }
}

.writer-features .cols .col + .col {
    width: 33.33333%
}

@media only screen and (max-width: 480px) {
    .writer-features .cols .col + .col {
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    .writer-features .cols .col:nth-child(2) {
        text-align: center
    }

    .writer-features .cols .col:nth-child(2) img {
        max-width: 60%
    }
}

.writer-videos ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.writer-videos img {
    float: left
}

.writer-videos a:after {
    display: none
}

.app-store-link:after {
    content: "" !important
}

.feature {
    margin-top: 1.42rem;
    margin-bottom: 4.26rem
}

.feature:nth-child(even) .cols div:first-child {
    float: right
}

section.writer-cta {
    margin-top: 1.42rem;
    margin-bottom: 1.42rem
}

section.writer-cta a {
    text-decoration: none;
    background: none !important;
    padding-right: 0px !important
}

section.writer-cta p {
    margin-top: 1.42rem
}

section.writer-cta .price {
    min-height: 1px;
    line-height: 1em;
    margin: 1em 0
}

section.writer-cta .col {
    width: 33.33333%;
    text-align: center
}

@media only screen and (max-width: 480px) {
    section.writer-cta .col {
        width: 100%
    }
}

@media only screen and (max-width: 480px) {
    section.writer-cta img {
        max-width: 65%;
        margin: 0.71rem auto;
        display: block
    }
}

.page-writer footer, .page-support footer {
    margin-top: 1.42rem
}

.hyphenate img {
    display: block;
    height: auto;
    margin: 1.42rem auto
}

.hyphenate figure + p {
    margin-top: 0;
    text-indent: 0
}

.hyphenate h1 + time {
    margin-top: -1.42rem
}

.hyphenate > p:first-of-type {
    font-weight: bold;
    font-family: "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.hyphenate > p:first-of-type + * {
    text-indent: 0;
    margin-top: 1rem
}

.hyphenate ul {
    list-style: none;
    padding: 0
}

.hyphenate ul > li:before {
    content: "–";
    position: relative;
    left: -0.71em
}

.hyphenate ul > li {
    text-indent: -0.6em
}

.hyphenate time {
    margin-bottom: 1.42rem;
    text-align: center;
    font-style: italic;
    display: block
}

section.article-list .cols .col:first-child ul {
    margin-top: 0
}

section.article-list .item-list h3 {
    margin-top: 0
}

section.article-list .item-list a {
    text-decoration: none
}

section.article-list time + a {
    display: table-cell
}

section.article-list .article-types {
    list-style: none;
    padding: 0;
    margin: 0 0 1.42rem 0
}

section.article-list .col {
    width: 25%
}

@media only screen and (max-width: 480px) {
    section.article-list .col {
        width: 100%
    }
}

section.article-list .col + .col {
    width: 75%
}

@media only screen and (max-width: 480px) {
    section.article-list .col + .col {
        width: 100%
    }
}

section.nav, section.nav-writer, section.addresses, section.footer-meta {
    margin-top: 1.92rem
}

section.nav .col, section.nav-writer .col, section.addresses .col,
section.footer-meta .col {
    width: 33.33333%
}

@media only screen and (max-width: 480px) {
    section.nav .col, section.nav-writer .col, section.addresses .col,
    section.footer-meta .col {
        width: 100%
    }
}

section.nav .success, section.nav-writer .success, section.addresses .success,
section.footer-meta .success {
    display: none
}

section.logo + section.nav, section.logo + section.nav-writer, section.logo + section.addresses,
section.logo + .nav {
    margin-top: 0
}

section.addresses, section.writer-bugreport {
    -webkit-perspective-origin: 50% 50%;
    -webkit-perspective: 800;
    -moz-perspective: 800;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective: 800;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    perspective: 800
}

section.clients-and-projects-list h3 {
    margin-top: 0
}

section.clients-and-projects-list img {
    margin-top: 8px;
    max-width: 144px;
    max-height: 60px
}

@media only screen and (max-width: 480px) {
    section.clients-and-projects-list img {
        margin-bottom: 1.42rem
    }
}

section.clients-and-projects-list .col {
    width: 25%
}

@media only screen and (max-width: 480px) {
    section.clients-and-projects-list .col {
        width: 100%
    }
}

section.clients-and-projects-list .col + .col {
    width: 75%
}

@media only screen and (max-width: 480px) {
    section.clients-and-projects-list .col + .col {
        width: 100%
    }
}

section.separator {
    letter-spacing: 3px;
    text-align: center;
    margin-top: 2em
}

section.support {
    margin-top: 1.42rem
}

section.support .num {
    font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media screen and (min-width: 768px) {
    section.addresses .address__tokyo {
        width: 37%
    }

    section.addresses .address__zurich {
        width: 32%
    }

    section.addresses .address__berlin {
        width: 31%
    }
}

header {
    text-align: center;
    padding: 4.26rem 0 3.55rem
}

header a, header a:hover {
    background: none
}

@media screen and (min-width: 1490px) {
    header {
        padding: 4.97rem 0 4.26rem
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 3.55rem 0 2.84rem
    }
}

.logo__iA {
    width: auto;
    height: 28px;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

@media screen and (min-width: 1490px) {
    .logo__iA {
        height: 34px
    }
}

@media screen and (max-width: 480px) {
    .logo__iA {
        height: 24px
    }
}

.fonts-loaded .item-list time, .fonts-loaded .item-list time span {
    font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    white-space: nowrap;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 1.3125rem
}

@media screen and (max-width: 480px) {
    .fonts-loaded .item-list time, .fonts-loaded .item-list time span {
        font-size: 1.125rem
    }
}

@media screen and (max-width: 768px) {
    .fonts-loaded .item-list time, .fonts-loaded .item-list time span {
        font-size: 1.125rem
    }
}

@media screen and (min-width: 1490px) {
    .fonts-loaded .item-list time, .fonts-loaded .item-list time span {
        font-size: 1.4375rem
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .fonts-loaded .item-list time, .fonts-loaded .item-list time span {
        font-family: "Nitti iA SC HD", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.fonts-loaded .item-list time .date {
    width: 1.5em
}

.item-list {
    display: table;
    list-style: none;
    margin: 0 0 1em;
    padding: 0
}

.item-list time, .item-list time span {
    font-family: "Menlo", "Lucida Sans Typewriter", "Lucida Console", Consolas, mono-space;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    word-spacing: 0.6rem
}

.item-list time + span {
    display: table-cell
}

.item-list time .year {
    display: inline-block;
    width: 2.7em
}

.item-list time .month {
    display: inline-block;
    width: 1.4em
}

.item-list time .date {
    display: inline-block;
    width: 1.1em
}

.item-list img {
    width: 100%;
    max-width: 100px;
    margin-top: 2em
}

.item-list.item-list--projects, .item-list.item-list--updates {
    margin-top: -0.71rem;
    margin-bottom: 1.42rem
}

@media screen and (max-width: 768px) {
    .item-list span.title {
        padding-bottom: 5px
    }
}

.fonts-loaded .item-list time {
    display: table-cell
}

.fonts-loaded .item-list time .year {
    width: 2.5em
}

.fonts-loaded .item-list time .date {
    width: 1.4em
}

.fonts-loaded .item-list li {
    display: table
}

@media screen and (max-width: 767px) {
    .fonts-loaded .item-list li {
        padding-bottom: 0.47333rem
    }
}

.nav-support .num {
    font-family: "Nitti iA SC", "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.nav-support ul {
    list-style: none;
    padding-left: 0
}

.nav-support ul a {
    white-space: pre-line
}

.nav-support nav > ul a.active:after {
    font-weight: normal;
    display: inline-block
}

.nav-support .col.first {
    width: 25%
}

.nav-support .col.second {
    width: 37%
}

.nav-support .col.third {
    width: 38%
}

@media only screen and (max-width: 768px) {
    .nav-support .col.first, .nav-support .col.second, .nav-support .col.third {
        width: 100%
    }
}

footer {
    text-align: center;
    padding-bottom: 2.84rem
}

footer nav ul {
    padding: 0;
    margin: 0
}

footer nav li {
    list-style: none;
    display: inline-block
}

footer nav li:before {
    content: "|";
    display: inline-block
}

footer nav li:first-child:before {
    content: ""
}

footer a.active {
    background: transparent !important;
    color: #222;
    display: inline-block
}

footer .copyright {
    margin: 0 0 1.42rem
}

footer .no-underline a {
    background: none
}

input, input[type="submit"], textarea, button {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border: none
}

input:focus, input[type="submit"]:focus, textarea:focus, button:focus {
    outline: none
}

label {
    position: relative
}

label input {
    border: none;
    border-bottom: 1px solid #222;
    padding-bottom: 2px;
    outline: none;
    width: 100%
}

label span {
    -webkit-transform: translate3d(0px, 8px, 0);
    -moz-transform: translate3d(0px, 8px, 0);
    transform: translate3d(0px, 8px, 0);
    transition: all 0.3s ease-in-out;
    vertical-align: bottom;
    line-height: 1em;
    font-size: 0.65em;
    opacity: 0.01
}

textarea {
    margin-top: 1em;
    width: 100%;
    border: none;
    outline: none;
    resize: none
}

:-moz-placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder,
::-ms-input-placeholder {
    color: #888
}

.input-field {
    font: 1.3125rem / 1.42rem "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    padding: 0.7rem;
    background: #fcfcfc;
    border: 1px solid #222
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .input-field {
        font-family: "Nitti iA HD", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.input-wide {
    min-width: 40%
}

.button {
    font: 1.3125rem / 1.42rem "Nitti iA", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.7rem
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .button {
        font-family: "Nitti iA HD", "Helvetica Neue", Helvetica, Arial, sans-serif
    }
}

.button-default {
    background-image: linear-gradient(to bottom, #222 75%, #222 75%);
    text-shadow: -1px -1px 0 #fcfcfc, 1px -1px 0 #fcfcfc, -1px 1px 0 #fcfcfc, 1px 1px 0 #fcfcfc;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
    background-color: #fcfcfc;
    color: #222;
    padding: 0;
    margin: 0 0.7rem
}

input[type="submit"] {
    transition: all 0.15s ease-in-out;
    border: 1px solid #111;
    display: inline-block;
    line-height: 1em;
    padding: 0.75em 1em;
    background: #fff
}

@media only screen and (max-width: 480px) {
    input[type="submit"] {
        background: #111;
        color: white;
        width: 100%
    }
}

input[type="submit"]:hover {
    background: #111;
    color: #fff
}

.form {
    transition: margin 0.5s ease-in-out;
    border: 1px solid #222;
    background: #fcfcfc;
    padding: 1rem
}

.form.expanded {
    margin-bottom: 1.42rem;
    margin-right: 10px
}

.form__success {
    display: none
}

.form--sent {
    height: 0 !important
}

.form--sent + .success {
    display: block !important
}

.form__sender {
    float: right;
    max-width: 320px
}

.form__footer p {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1em;
    color: #666
}

.form__footer .form__footer__note {
    display: none
}

.form .float-label span {
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0);
    opacity: 1
}

.form__footer {
    display: block;
    text-align: right
}

.form + .success {
    display: block
}

.form--newsletter {
    margin: 2.84rem 0
}

@media screen and (max-width: 767px) {
    .form--newsletter p {
        text-align: left
    }

    .form--newsletter input {
        width: 50%
    }
}

@media screen and (max-width: 479px) {
    .form--newsletter input {
        width: 100%
    }

    .form--newsletter button[type="submit"] {
        margin: 0.71rem 0 0
    }

    .form--newsletter p {
        text-align: center
    }
}

.form + .confirmation {
    transition: visibility 0s linear 0s, opacity 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.7s, height 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    height: 0px;
    opacity: 0
}

.form.sent + .confirmation {
    visibility: visible;
    height: 4em;
    opacity: 1
}

form.invalid {
    -webkit-animation: shake 0.8s ease-in-out forwards;
    -moz-animation: shake 0.8s ease-in-out forwards;
    -animation: shake 0.8s ease-in-out forwards
}

form[novalidate] label input.ui-state-error {
    background: rgba(255, 0, 0, 0.1);
    border-bottom-color: #cc0000
}

form[novalidate] textarea.ui-state-error {
    background: rgba(255, 0, 0, 0.1)
}

.resp-wrapper {
    position: relative;
    margin-bottom: 1.42rem;
    height: 0
}

.resp-wrapper iframe, .resp-wrapper object, .resp-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.aspect-16-9 {
    padding-bottom: 56.25%
}

.aspect-4-3 {
    padding-bottom: 75%
}

.aspect-5-4 {
    padding-bottom: 81.41%
}

.aspect-3-4 {
    padding-bottom: 133.3%
}

.text-center {
    text-align: center
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

@media print {
    a, a:visited {
        background: #fcfcfc
    }

    a.active {
        -webkit-print-color-adjust: exact;
        background: #222;
        color: #fff
    }
}
